// global styles

html{
  background: url("/assets/images/gradientbg.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  font: normal 18px "Roboto", Helvetica, sans-serif;
}

//index styles

//work styles

//about styles

//contact styles
