// global styles

html{
  background: url("/assets/images/gradientbg.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  font: normal 18px "Roboto", Helvetica, sans-serif;
}

//index styles

.grid-wrap-main{
	margin: 1em;
	padding: 1em;
	border: 5px solid;
}

@media screen and (min-width: 768px){
	.grid-wrap-main{
		margin: 3em;
		padding: 3em;
	}
}

@media screen and (min-width: 1440px){
	.grid-wrap-main{
		margin: 4em;
		padding: 4em;
	}
}

//work styles

//about styles

//contact styles
