---
layout: default
title:  Portfolio
---





<div class="grid-wrapper">
     <h1>Hi, my name is <span class="intro-callout">aly</span></h1>

     <img src="/assets/images/placeholder.jpg" alt="alt text" />
     <p class="bio">I'm a self-proclaimed UX unicorn. Although I do enjoy rainbows and sparkles,
       I have more than just glitter to back it up.</p>

     <h2>{{ site.subtitle }}</h2>
     <div class="skills">
     	<p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
               eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
               nisi ut aliquip ex ea commodo consequat.
          </p>
     	<p>Want to know more about me? <a href="{% link _content/arencounter.html %}">Let's chat!</a></p>
     </div>
</div>


<!--<div class="work__grid">
  {% assign sorted = (site.content | sort: 'order') %}
  {% for work in sorted %}
    <a href="{{ work.article_path }}" class="card work--{{ work.type }}" {% if work.type == "work" %}{% else %}target="_blank"{% endif %}>
      {% if work.type == "article" %}
        <h3>{{ work.title }}</h3>
      {% else %}
      {% endif %}
      <div class="work__image">
        <p class="work__type">{{ work.type }}</p>
      </div>
      <img src="{{ work.image }}" alt="{{ work.title }}" />
    </a>
  {% endfor %}
</div>-->
