---
layout: default
title:  Portfolio
---


<h1>Hi, I'm <span class="intro-callout">aly</span></h1>
<h2>{{ site.subtitle }}</h2>
<p>I'm a self-proclaimed UX unicorn. Although I do enjoy rainbows and sparkles,
  I have more than just glitter to back it up. I have stellar frontend development skills including
  HTML5, CSS, Sass, JavaScript, Django, and Git.
  On top of all that, I'm a fully-trained graphic designer who has spent years improving her UX skills.
  I have experience with persona mapping, wireframing, low-fi and hi-fi prototyping, and user testing.
  Whew!! That's a lot! I've had about 10 years to build up that skills list, and I'm proud
  to say that I'm continuing to add to it.</p>
<p>Want to know more about me? <a href="{% link _content/arencounter.html %}">Let's chat!</a></p>


<!--<div class="work__grid">
  {% assign sorted = (site.content | sort: 'order') %}
  {% for work in sorted %}
    <a href="{{ work.article_path }}" class="card work--{{ work.type }}" {% if work.type == "work" %}{% else %}target="_blank"{% endif %}>
      {% if work.type == "article" %}
        <h3>{{ work.title }}</h3>
      {% else %}
      {% endif %}
      <div class="work__image">
        <p class="work__type">{{ work.type }}</p>
      </div>
      <img src="{{ work.image }}" alt="{{ work.title }}" />
    </a>
  {% endfor %}
</div>-->
